<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="oauth">
        <field name="client_id" type="text"
                description="Client ID assigned by Mendeley"
                label="Client ID"/>

        <field name="client_secret" type="text"
                label="Client Secret"
                description="Client Secret assigned by Mendeley"/>

        <field name="redirect_uri" type="text"
                label="Redirect URI"
                description="Redirect URI assigned by Mendeley"/>

        <field name="storage_folder" type="folderlist"
                hide_default="true" hide_none="true"
                exclude="administrator|bin|cli|components|includes|layouts|libraries|logs|modules|plugins|templates"
                label="Storage folder"
                description="Folder to store files downloaded from Mendeley"/>
    </fieldset>
</config>
